@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
}
/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #a855f7; /* purple-500 */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9333ea; /* purple-600 */
}
/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Carousel styles */
.indicator {
  cursor: pointer;
  transition: all 0.3s ease;
}

.indicator.active,
.indicator:hover {
  background-color: #7c3aed !important; /* purple-600 */
  transform: scale(1.2);
}

/* Carousel touch styles */
#services-slider,
#testimonials-slider {
  cursor: grab;
}

#services-slider:active,
#testimonials-slider:active {
  cursor: grabbing;
}

/* Custom class for active tab */
.tab-button.tab-active {
  background-color: #a855f7; /* purple-500 */
  color: white;
  border-color: #a855f7; /* purple-500 */
}

.tab-button.tab-active:hover {
  background-color: #a855f7; /* purple-600 */
  color: white;
  border-color: #a855f7; /* purple-600 */
}

.tab-button {
  color: #9333ea; /* text-purple-600 */
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-radius: 9999px; /* rounded-full */
  font-weight: 600; /* font-semibold */
  border: 1px solid #e9d5ff; /* border-purple-200 */
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* transition-colors */
}

.tab-button:hover {
  background-color: #f3e8ff; /* purple-100 */
  color: #a855f7; /* purple-500 */
  border-color: #a855f7; /* purple-500 */
}

/* Carousel transition */
.carousel-item {
  transition: opacity 0.5s ease-in-out;
}
