@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
}

p,
footer a {
  font-family: "Poppins", sans-serif;
}

p:not(footer p) {
  color: #525252;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #a855f7; /* purple-500 */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9333ea; /* purple-600 */
}
/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Carousel styles */
.indicator {
  cursor: pointer;
  transition: all 0.3s ease;
}

.indicator.active,
.indicator:hover {
  background-color: #7c3aed !important; /* purple-600 */
  transform: scale(1.2);
}

/* Carousel touch styles */
#services-slider,
#testimonials-slider {
  cursor: grab;
}

#services-slider:active,
#testimonials-slider:active {
  cursor: grabbing;
}

/* Custom class for active tab */
.tab-button.tab-active {
  background-color: #a855f7; /* purple-500 */
  color: white;
  border-color: #a855f7; /* purple-500 */
}

.tab-button.tab-active:hover {
  background-color: #a855f7; /* purple-600 */
  color: white;
  border-color: #a855f7; /* purple-600 */
}

.tab-button {
  color: #9333ea; /* text-purple-600 */
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-radius: 9999px; /* rounded-full */
  font-weight: 600; /* font-semibold */
  border: 1px solid #e9d5ff; /* border-purple-200 */
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* transition-colors */
}

.tab-button:hover {
  background-color: #f3e8ff; /* purple-100 */
  color: #a855f7; /* purple-500 */
  border-color: #a855f7; /* purple-500 */
}

/* Carousel transition */
.carousel-item {
  transition: opacity 0.5s ease-in-out;
}

.keen-slider:not([data-keen-slider-disabled]) {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  align-content: flex-start;
  display: flex;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  width: 100%;
}
.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse;
}
.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap;
}
